<h3><%= @trip.name %></.h3>
  <% @trip.trails.each do |trail|%>
    <%= trail.name %>
    <%= trail.length %>
    <%= trail.address %>
  <% end %>

  <p>Total trip hiking length: <%= "#{@trip.total_distance}"  %></p>
